html {
    font-size: 15px; 
    background-image: linear-gradient(to bottom, #8c6d92, #ffebcd);
    background-color:blanchedalmond;
    font-family:monospace;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to top, #8c6d92, #ffebcd);
    background-color: #d9b3f0;
    padding: 0 200px 20px 200px;
    border: 8px dotted #8c6d92;
  }
  button {font-family:monospace;
    background-color: darkkhaki;
    border: dotted #ffebcd;
}
h2, h1 {
    text-align:center;
    color: rgb(37, 16, 43);
}
h2 {
    border: 5px dotted #8c6d92;
    ;
}
header {
    text-align:center;
    font-size: 17px;
    color: rgb(37, 16, 43);
}
img {
    margin: right;
    border: 5px dotted darkkhaki;
    width: 800;
    height: 580;
}
